{% extends 'layout.html.twig' %}

{% block title %}Hello ServersController!{% endblock %}

{% block content %}
    <h3>Servers</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">IP</th>
            </tr>
        </thead>
        <tbody>
        {% for key,server in servers %}
            <tr>
                <th scope="row">{{ key + 1 }}</th>
                <td>{{ server.name }}</td>
                <td>{{ server.ip }}</td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
{% endblock %}
